.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.commentBox {
  flex: 1;

  footer {
    margin-top: 1rem;

    > button {
      background: transparent;
      border: 0;
      color: var(--gray-300);
      display: flex;
      align-items: center;
      transition: all 0.2s;

      &:hover {
        color: var(--green-400);
      }

      span {
        &::before {
          content: "\2022";
          padding-inline: 0.25rem;
        }
      }
    }

    svg {
      margin-right: 0.5rem;
    }
  }
}

.commentContent {
  background-color: var(--gray-650);
  border-radius: 8px;
  padding: 1rem;

  > header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    button {
      background: transparent;
      border: 0;
      color: var(--gray-300);
      line-height: 0;
      border-radius: 2px;
      transition: all 0.2s;

      &:hover {
        color: var(--red-500);
      }
    }
  }

  p {
    margin-top: 1rem;
    color: var(--gray-200);
  }
}

.authorAndTime {
  strong {
    display: block;
    font-size: 0.875rem;
    line-height: 1.6;
  }

  time {
    display: block;
    font-size: 0.75rem;
    line-height: 1.6;
    color: var(--gray-300);
  }
}
